<template>
    <div>
        <h1>HackerPair Events</h1>
        <ul>
            <li v-for="event in events">
                {{ event }}
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                events: [
                    'Laravel and Coffee',
                    'The Wonders of IoT',
                    'All About ES6',
                    'Introducing Vue'
                ]
            }
        }
    }
</script>
